<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>students</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/nav.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/tab.css">
  </head>

  <body>
    <% include templates/instructor_header.ejs %>

    <form action="create_students/load" method="post" enctype="multipart/form-data">
      <input type="file" value ="Upload rosters file" name="rosters" required><br>
      <input type="submit" value ="Load new students">
    </form>

    <form id="drop-all">
      <button type="submit" name="unload_all_students" onclick="clicked()">Unload All Students(for development)</button>
      <script>
        function clicked() {
          if (window.confirm('Do you want to drop all students?')) {
            document.getElementById("drop-all").setAttribute("action", "create_students/unload_all_students");
            document.getElementById("drop-all").setAttribute("method", "post");
          }
        }
      </script>
    </form>

    <p> All students </p>
    <p> number of students is <%= num_students %> </p>
    <section class="ac-container">
      <% students.forEach( function(item) { %>
      <p><%= item.utorid + ' ' + item.email + ' ' + item.student_number %></p>
      <% }); %>
    </section>
  </body>




    <div>
  <ul class="pagination modal-5">
    <li><a href="#" class="prev fa fa-arrow-left"> </a></li>
    <li> <a href="#">1</a></li>
    <li> <a href="#">2</a></li>
    <li> <a href="#">3</a></li>
    <li> <a href="#">4</a></li>
    <li><a href="#" class="active">5</a></li>
    <li> <a href="#">6</a></li>
    <li> <a href="#">7</a></li>
    <li> <a href="#">8</a></li>
    <li> <a href="#">9</a></li>
    <li><a href="#" class="next fa fa-arrow-right"></a></li>
  </ul>
  </div>
</html>


