<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Login Form</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/button.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/style2.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css">
  </head>

  <body class="login_body">
    <nav>
      <ul>
      <li><a href="/home">Home</a></li>
      <li class="drop">
        <a href="#">You</a>
        
        <div class="dropdownContain">
          <div class="dropOut">
            <div class="triangle"></div>
            <ul>
              <li>no use</li>
              <li>no use</li>
              <li>no use</li>
              <li>no use</li>
            </ul>
          </div>
        </div>

      <li><form action="/logout" method="post">
      <input type="submit" name="logout_button" value ="LOGOUT"></input>
    </form></li>
    </ul>
  </nav>

    <form enctype="application/json" action="home/go_to_self_review" method="post">
      <% for (var i = 0; i < work_list.length; i ++) { 
          var review_btn = "review_" + work_list[i]; 
          var grade_btn = "grade_" + work_list[i]; %>
      <label><%= work_list[i] %></label>
      <input type="submit" name="<%= work_list[i] %>" value="self"></input>
      <input type="submit" name="<%= work_list[i] %>" value="peer"></input><br></br>
      <% } %>
    </form>


    <script type="text/javascript" src="javascripts/test.js"></script>

  </body>
</html>
