<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Login Form</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/button.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/style2.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css">
  </head>

  <body class="login_body">
    <nav>
      <ul>
      <li><a href="/home">Home</a></li>
      <li class="drop">
        <a href="#">You</a>
        
        <div class="dropdownContain">
          <div class="dropOut">
            <div class="triangle"></div>
            <ul>
              <li>Plan</li>
              <li>Account Settings</li>
              <li>Switch Account</li>
              <li>Sign Out</li>
            </ul>
          </div>
        </div>

      <li><a href="#">Help</a></li>
    </ul>
  </nav>
    <form action="home/go_to_submission" method="post">
      <% rules.forEach( function(item) { %>
        <p>
          <%= item.work_name + ' ' + item.required_files %>
          <input class="button" type="submit" value="<%= item.work_name %>" name="redirect_to_submission"></input>
        </p>
      <% }); %>
    </form>

    

    <script type="text/javascript" src="javascripts/test.js"></script>

  </body>
</html>
