<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Login Form</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/button.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/style2.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css">
  </head>

  <body class="login_body">

    <% include templates/header.ejs %>


    <form enctype="application/json" action="home/go_to_self_review" method="post">
      <% for (var i = 0; i < work_list.length; i ++) { 
          var review_btn = "review_" + work_list[i]; 
          var grade_btn = "grade_" + work_list[i]; %>
      <label><%= work_list[i] %></label>
      <input type="submit" name="<%= work_list[i] %>" value="self"></input>
      <input type="submit" name="<%= work_list[i] %>" value="peer"></input><br></br>
      <% } %>
    </form>


    <script type="text/javascript" src="javascripts/test.js"></script>

  </body>
</html>
