<html>
  <head>
    <title>Create New User</title>
  </head>
  <body>
  Create Person
    <form id="main_form" enctype="application/json" action="/" method="post">
      <label>Name: </label><input type="text" name="username">
      <label>Password: </label><input type="text" name="password">
	  <br>
      <input type = "submit" value ="Submit">
    </form>
  </body>
</html>
