<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Login Form</title>

    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css">
  </head>

  <body class="login_body">

    <form enctype="application/json" action="/go_to_instructor" method="post">
      <input type="submit" value="go to instructor page"></input>
    </form>

    <form enctype="application/json" action="/go_to_home" method="post">
      <input type="submit" value="go to student page"></input>
    </form>



    <script type="text/javascript" src="javascripts/test.js"></script>

  </body>
</html>
