<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Login Form</title>

    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css">
  </head>

  <body class="login_body">
    <p> Index.ejs </p>
    
    <script type="text/javascript" src="javascripts/test.js"></script>

  </body>
</html>
