<!DOCTYPE html>

<html ng-app="myApp">
  <head>
    <meta charset="UTF-8">
    <title>Login Form</title>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js"></script>
    <script type="text/javascript" src="C:\Users\admin\Desktop\code-reviewer\public\js\login.js"></script>
  </head>

  <body class="login_body">

    <div id="main" ng-controller='mainController'>
      <div ng-show="loginPage">
        <input placeholder="Username" type="text" ng-model ="username">
        <input placeholder="Password" type="text" ng-model ="password">
        <button ng-click="login(username, password)" ng-mouseover="mouseOverExample()">Login</button>
      </div>
      <div ng-show="assignmentsPage" ng-repeat="assignment in assignments">
          <button ng-click="selectAssignment(assignment)">{{assignment}}</button>
      </div>
      <div ng-show="reviewSelection">
          <button ng-click="review('self')">Review Self</button>
          <button ng-click="review('others')">Review Others</button>
      </div>
      <div ng-show="reviewSection" ng-controller='reviewController'>
        <div ng-repeat="peer in peers">
          <button ng-click="setPeer(peer)">{{peer}}</button>
      </div>


      </div>
    </div>
    <hr>

    <script src="https://cdn.auth0.com/js/lock-9.1.min.js"></script>
    <script type="text/javascript">
      
      var lock = new Auth0Lock('QyxHv4FYYgvhSTj2JYvISNkAijO3nBky', 'uteach.auth0.com');
      
      
      function signin() {
        lock.show({
            callbackURL: 'http://localhost:3000/callback'
          , responseType: 'code'
          , authParams: {
            scope: 'openid email'  // Learn about scopes: https://auth0.com/docs/scopes 
          }
        });
      }
    </script>
    <button onclick="window.signin();">Login</button>


  </body>
</html>
