<!DOCTYPE html>

<html ng-app="myApp">
  <head>
    <meta charset="UTF-8">
    <title>Login Form</title>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js"></script>
    <script type="text/javascript" src="C:\Users\admin\Desktop\code-reviewer\public\js\login.js"></script>
  </head>

  <body class="login_body">
    <script src="https://cdn.auth0.com/js/lock-9.1.min.js"></script>
    <script type="text/javascript">
      
      var lock = new Auth0Lock('QyxHv4FYYgvhSTj2JYvISNkAijO3nBky', 'uteach.auth0.com');
      
      
      function signin() {
        lock.show({
            callbackURL: 'http://localhost:3000/callback'
          , responseType: 'code'
          , authParams: {
            scope: 'openid email'  // Learn about scopes: https://auth0.com/docs/scopes 
          }
        });
      }
    </script>
    <button onclick="window.signin();">Login</button>
    <pre>
  Step 1: Sign Up & Log in
  If you are a first time user,
      Click the "Login" button and then click "SIGN UP". 
      Make sure to sign up with your official utoronto email address, which looks like xxx@mail.utoronto.ca
      Open your utoronto email and you will recive a comfirmation email.
      Follow the instructions given in the email and complete the comfirmation.
      Once you finished the comfirmation, click "Login" button again and then "LOG IN" as your utoronto email.
  If you already signed up,
      Click the "Login" button and "LOG IN" with your official utoronto email address.

  Once you have logged in, you will see something like:

  <b>Assignment    Peer Review    Self Review    Mark    Result</b>
  a1            Start Review   Check Review   4/6     Check Result
  a2            Start Review   Check Review   pending pending


  Step 2: Peer Review
  Step 3: Self Review
  Step 4: Mark & Result

    </pre>

  </body>
</html>