<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <p>Instruction page</p>

    <form enctype="application/json" action="instruction/go_to_peer_review" method="post">
      <input type="submit" value="I am ready"></input>
    </form>
 

  </body>
</html>
