<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>students</title>

    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css">
  </head>

  <body>
    <li><a href="/create_new_work">Create New Work</a></li>
    <li><a href="/students">Show all students</a></li>
    <section class="ac-container">
      <% rules.forEach( function(item) { %>
      <p><%= item.work_name + ' ' + item.num_peers + ' ' + item.required_files %></p>
      <% }); %>
    </section>

    <script type="text/javascript" src="javascripts/test.js"></script>
  </body>
</html>
