<!DOCTYPE html>
<html lang="en">
  <head>
  	<meta charset="utf-8" />
  	<link rel="stylesheet" type="text/css" href="stylesheets/breadcrumb.css">
   	<link rel="stylesheet" type="text/css" href="stylesheets/nav.css">
   	<link rel="stylesheet" type="text/css" href="stylesheets/button.css">
   	<link rel="stylesheet" type="text/css" href="stylesheets/textbox.css">
  </head>
  <body style="text-align: center;">
  	<% include templates/student_header.ejs %>
    <div class="breadcrumb">
      <a class="active">Instruction &#38; Tips</a>
      <a>Give Feedback</a>
      <a>Self Assess</a>
    </div>
    <br></br>
    <pre class="tb4" ><%= instruction %></pre>
    <br></br>
    <form enctype="application/json" action="instruction/go_to_peer_review" method="post">
      <input class="button" type="submit" value="I am ready"></input>
    </form>
 

  </body>
</html>
