<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>TA's</title>
  </head>

  <body>
    <li><a href="/instructor">Go back to instructor</a></li>

    <form action="tas/load" method="post">
      <input type="file" value ="Upload tas file" name="rosters" required><br>
      <input type="submit" value ="Load new tas">
    </form>

    <p> All TA's </p>
    <p> number of TA's is <%= num_tas %> </p>
    <section class="ac-container">
      <% tas.forEach( function(item) { %>
      <p><%= item.utorid + ' ' + item.email + ' ' + item.student_number %></p>
      <% }); %>
    </section>
  </body>
</html>
