    <nav class="nav">
      <ul>
      <li><a href="/instructor">Home</a></li>
      <li class="drop">
        <a href="#">Manage Course</a>
        
        <div class="dropdownContain">
          <div class="dropOut">
            <div class="triangle"></div>
            <ul>
              <li><a href="/create_students">Create students / Show all students</a></li>
              <li><a href="/create_tas">Create tas / &#160; Show all tas</a></li>
            </ul>
          </div>
        </div>
      <li>
        <form action="/logout" method="post">
          <input type="submit" name="logout_button" value ="Sign Out"></input>
        </form>
      </li>
    </ul>
  </nav>