    <nav class="nav">
      <ul>
      <li><a href="/home">Home</a></li>
      <li class="drop">
        <a href="#">Related Sites</a>
        
        <div class="dropdownContain">
          <div class="dropOut">
            <div class="triangle"></div>
            <ul>
              <li><a href="http://www.utsc.utoronto.ca/~bharrington/csca08/" target="_blank">Course Website</a></li>

              <li><a href="https://markus.utsc.utoronto.ca/csca08f16/?locale=en" target="_blank">MarkUs</a></li>

              <li><a href="https://piazza.com/mail.utoronto.ca/fall2016/csca08" target="_blank">Piazza Forum</a></li>
            </ul>
          </div>
        </div>
      <li>
      <li>
        <form action="/logout" method="post">
          <input type="submit" name="logout_button" value ="Sign Out"></input>
        </form>
      </li>
    </ul>
  </nav>