    <nav class="nav">
      <ul>
      <li><a href="/home">Home</a></li>
      <li>
        <form action="/logout" method="post">
          <input type="submit" name="logout_button" value ="Sign Out"></input>
        </form>
      </li>
    </ul>
  </nav>