    <nav>
      <ul>
      <li><a href="/ta">Home</a></li>
      <li class="drop">
        <a href="#">You</a>
        
        <div class="dropdownContain">
          <div class="dropOut">
            <div class="triangle"></div>
            <ul>
              <li>no use</li>
              <li>no use</li>
              <li>no use</li>
              <li>no use</li>
            </ul>
          </div>
        </div>
      <li>
        <form action="/logout" method="post">
          <input type="submit" name="logout_button" value ="Sign Out"></input>
        </form>
      </li>
    </ul>
  </nav>