.breadcrumb {
  display: inline-block;
  box-shadow: 0 0 15px 1px rgba(0,0,0,0.6);
  border-radius: 5px;
  overflow: hidden;
  counter-reset:flag;
  margin-top: 2%;
  margin-bottom: 2%;
}

.breadcrumb a {
  display: block;
  float: left;

  text-decoration: none;
  padding: 10px 60px 10px 80px;

  line-height: 36px;
  
  /*background: linear-gradient(#D8BFD8, #FF69B4);*/
  background: linear-gradient(#eeeeee, #999999);
  color: #222;
  position:relative;
  
}

.breadcrumb a.active{
  color: white;
  background: linear-gradient(#777777, #222222);
}

.breadcrumb a.active:after{
  color: white;
  background: linear-gradient(135deg, #777777, #222222);
}

.breadcrumb a:after {
  content: '';
  width: 56px;
  height: 56px;
  /*background: linear-gradient(135deg, #D8BFD8, #FF69B4);*/

  background: linear-gradient(135deg, #eeeeee, #999999);
  position: absolute;
  top: 0px;
  
  z-index:1;
  right:-26px;
  
  -webkit-transform: scale(0.707) rotate(45deg);
  -moz-transform: scale(0.707) rotate(45deg);
  -o-transform: scale(0.707) rotate(45deg);
  transform: scale(0.707) rotate(45deg);
  border-radius: 0 0 0 30px;
  box-shadow: 2px -2px 1px 1px rgba(0,0,0,0.5), 
   3px -2px 1px 1px rgba(255,255,255,0.6);
}

.breadcrumb a:last-child:after {
  content: none;
}

.breadcrumb a:last-child {
  padding-right:60px;
  border-radius: 0 5px 5px 0;
}

.breadcrumb a:before {
  content:counter(flag);
  counter-increment: flag;
  color: white;
  
  width: 20px;
  height:20px;
  
  background: #000000;
  font-weight:bold;
  
  position:absolute;
  top:10px;
  left:50px;
  
  line-height:20px;
  margin: 8px 0;
  border-radius: 100%;
}
